/*@import url('https://fonts.googleapis.com/css?family=Quicksand');*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background-image: url(../images/wave1.jpg);
    z-index: -100;
}



/*NAVBAR STARTS HERE*/

nav {
    background-color: black;
    position: fixed;
    width: 100%;
    line-height: 60px;
    opacity: .75;
    z-index: 2;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.logo {
      line-height: 60px;
      position: fixed;
      display: relative;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 16px 30px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 1px;
}


.logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 70%;
    background-color: #272727;
    transition: .5s;
    transform: scale(1.15);
    z-index: -10;
}

.logo:hover:before {
    transform: scale(1.3);
    box-shadow: 0 0 20px yellow;
}

nav ul {
      margin: 0;
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      padding-right: 40px;
      transition: 1s;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;
      list-style: none;
}
 
nav ul li a {
      position: relative;
      display: block;
      width: 65px;
      height: 65px;
      text-align: center;
      line-height: 60px;
      background-color: #333;
      border-radius: 50%;
      font-size: 30px;
      color: #0099ff;
      transition: .5s;
}
    
/*.menu > ul > li{*/
/*    text-align: center;*/
/*}*/

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffff00;
    transition: .5s;
    transform: scale(0.9);
    z-index: -1;
}

nav ul li a:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffff00;
}

nav ul li a:hover {
    color: #ffff00;
    box-shadow: 0 0 5px #ffff00;
    text-shadow: 0 0 5px #ffff00;
}



/*HEADER STARTS HERE*/


.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../images/reef2.jpg);
    background-size: 200%;
    animation: movement 20s infinite linear alternate;  
}

@keyframes movement{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}


.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.2;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 150px;
    color: white;
}

.details h1{
    font-size: 40px;
    margin-left: 10px;
    font-weight: 600;
}

.details p{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 100;
    margin-left: 10px;
    font-weight: 400;
}





/*MAIN STARTS HERE*/

main{
    width: 100%;
}

.article{
    width: 100%;
    max-width: 900px;
    position: relative;
    margin-top: 40px;
}

.article h1{
    font-size: 42px;
    font-weight: 100;
    margin-left: 10px;
}

.article hr{
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, #0672d0, lightblue);
    margin-top: 10px;
    margin-left: 10px;
}

.article p{
    font-size: 20px;
    margin-top: 22px;
    font-weight: 100;
    margin-left: 10px;
}




#combo {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    /*background-color: lightgreen;*/
}

.article h2 {
    font-size: 42px;
    font-weight: 100;
    margin-left: 10px;
}

.article p2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
}

.article hr {
    max-width: 500px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, #0672d0, lightblue);
    margin-top: 10px;
    margin-left: 10px;
}

.turtle {
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: grey;*/
}

.turtle img{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 50%;
}



/*DONATE BUTTON STARTS HERE*/
.donate {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}





/*JUMBOTRON STARTS HERE*/
#box1 {
    height: auto;
    width: 100%;
    padding: 0 30px;
    padding-top: 30px;
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#jumbotron {
    width: 30%;
    height: auto;
    padding-top: 50px;
    color: #fff;
    background-image: url(../images/wave2.png);
    background-position: center;
    font-weight: bold;
}

#jumbotron h3 {
    font-size: 26px;
    font-weight: bolder;
}

#surf {
    margin: 0;
    width: 100%;
    height: 450px;
    background-image: url(../images/surf.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}




/*CONTACT US*/
.info-container {
    width: 100%;
    background-color: #f2f2f2;
}

.info-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 30px 200px;
}

.info-main h3 {
    color: #00C6EE;
    font-size: 40px;
    text-align: center;
}

.info-main p {
    padding: 20px 0;
}

.info-main a {
    display: inline-block;
    background-color: #BF0026;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 95%;
}



/*SOCIAL STARTS HERE*/
#media {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2; 
}

#media ul {
    display: flex;
    justify-content: center;
    padding-right: 40px;
    padding-bottom: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#media ul li {
    list-style: none;
}

#media ul li a {
    width: 80px;
    height: 80px;
    background-color: black;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #00C6EE;
    z-index: 2;
}

#media ul li a .fa {
    position: relative;
    color: #fff;
    transition: .7s;
}

#media ul li a:hover .fa {
    color: #fff;
    transform: rotateY(360deg);
}

#media ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #272727;
    transition: .7s;
}


/*FOOTER STARTS HERE*/
footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #272727;
}

#footer-container {
    width: 100%;
    background-color: #272727;
    color: #fff;
}

#footer-main {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#footer-col {
    width: calc(100% / 3);
    text-align: justify;
    /*padding-right: 20px;*/
}

#footer-col:nth-child(2) {
    padding: 0 20px;
}

#footer-col h4 {
    font-size: 32px;
    color: #00C6EE;
    margin-bottom: 20px;
}

#footer-col input[type="email"] {
    border: none;
    width: 70%;
    border: 1px solid #00C6EE;
    font-size: 14px;
    padding: 10px;
}       

#footer-col input[type="submit"] {
    border: none;
    background-color: #00C6EE;
    color: #fff;
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

#footer-col span p {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
}


.footer-copy-networks {
    width: 100%;
    background-color: #000;
    border-top: 3px solid #fff;
    color: darkgray;
}

.main-copy-networks {
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-copy-networks .footer-copy {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}



/*MEDIAQUERY STARTS HERE*/

@media(max-width: 992px) {
 
        .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
        }
        .menu{
            display:none;
        }

        .showing {
            display: block;
        }
        
        nav.black ul {
            background: #000;
        }
        
        nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: center;
            /*text-align: center;*/
        }
 
        .menu-icon {
            display: block;
        }
    }

@media(max-width: 750px) {
    .info-main {
        padding: 30px 100px;
    }
    
    .footer-main .footer-col {
        padding: 0 10px;
    }
    
    .footer-main .footer-col h4 {
        font-size: 28px;
    }
     
    .footer-main .footer-col p {
        font-size: 14px;
    } 
}

@media screena and (max-width: 640px) {
    .info-main {
        padding: 30px 30px;
    }
    
    .info-main h4 {
        font-size: 30px;
    }
    
    .footer-main {
        padding: 10px 0;
    }
    
    .footer-main .footer-col {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    
    .footer-main .footer-col h4 {
        margin-bottom: 5px;
    }
     
    .footer-main .footer-col span {
        display: block;
    }
    
    .main-copy-networks .footer-copy {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px){
    .details p{
        font-size: 18px;
    }
    
    .container-cover {
        width: auto;
        height: 380px;
        /*padding-bottom: 40px;*/
    }
    
    .main {
        width: auto;
        /*margin-left: 0;*/
    }
   #media ul li a {
    width: 50px;
    height: 50px;
    line-height:50px;
   }
}